<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label class="form-label" for="title">Title</label>
    <input
      class="form-control"
      id="title"
      type="text"
      formControlName="title"
    />
  </div>
  <div class="mb-3">
    <label class="form-label" for="body">Body</label>
    <textarea
      class="form-control"
      id="body"
      type="text"
      formControlName="body"
      rows="6"
    ></textarea>
  </div>
  <button [disabled]="postForm.invalid" class="btn btn-primary" type="submit">
    {{ post?.id ? "Save Cahnges" : "Add Post" }}
  </button>
  <button
    *ngIf="post?.id"
    (click)="onCancel()"
    class="btn btn-light ms-2"
    type="button"
  >
    Cancel
  </button>
</form>
